flask
opencv-python
numpy==1.26.4
tensorflow==2.10.0
torch==1.13.1
mtcnn
pymongo
pynput
mss
matplotlib
seaborn
pandas
keras==2.10
keras-preprocessing
screeninfo
face_recognition
bcrypt
flask-login
flask-wtf
wtforms
werkzeug
chart.js
cv2